#{extends 'parentMain.html' /}
#{set title:parent.username /}


<script>

$(function() {
   //alert("hello");
});

</script>
Parent View Kid Friends



 
<img src="@{RequestUtils.renderUserImage(kid.image.id)}"/>

<a href= "@{ParentEditKid.page(kid.id)}">${kid.name}</a>    <br>


<table>
        <tbody>
            #{list kid.friends, as:'otherKid'}
                <tr>                    
                    <td>
                        ${otherKid.name}
                    </td>                                       
                    <td>
                    <img src="@{RequestUtils.renderUserImage(otherKid.image.id)}"/>
                     </td>                                       
                    <td>
                    	#{form @removeFriend(kid.id, otherKid.id)}
                    		<input type="submit" value="Remove"/>
                    	#{/form}
                     </td>
                    
                </tr>
            #{/list}
        </tbody>
    </table>
    
    


<a href="@{ParentHome.page()}">To Parent Home page</a>