#{extends 'main.html' /}
#{set title:parent.username /}

Kid Login
<style>
.kidImgPreview {
	width: 90px;
}

.kidEntry {
	border-style: solid;
	border-color: rgb(179, 173, 173);
	border-width: 1px;
		margin: 10px;
	width: 300px;
}

.kidLoginForm {
	margin-left: 5px;
	margin-bottom: 5px;
}

</style>

#{if parent.kids }

            #{list parent.kids, as:'kid'}
             <div class="kidEntry">
                   
                    <img class="kidImgPreview" src="@{RequestUtils.renderUserImage(kid.image.id)}"/>
                     ${kid.name}
                    <div class="kidLoginForm">
                    #{form @login(kid.id)}
				    #{field 'kid.name'}
				    <input type="text" name="kidPassword" size="16"/> *
				    #{/field}
				    <input type="submit" class="button" value="Login" style=" width: 60px; margin-bottom: 11px;"/>
				    #{/form}
                    </div>
				    

			</div>
            #{/list}
   
#{/if}


<br>
<a href="@{ParentHome.page()}">To Parent Home page</a>