#{extends 'kidMain.html' /}
#{set title:kid.name /}

Kid Home


#{form @newPost(), enctype:'multipart/form-data'}
        <p>
            <input type="text" name="postText" size="16">
        </p>
        <p>
            <input type="file" name="postImageBlob" size="16">
        </p>
    
    	<input type="submit" value="Post"/>  
    
#{/form}

#{list kid.posts, as:'kidPost'}
	<div>
		<a href="@{KidViewProfile.page(kidPost.kid.id)}">${kidPost.kid.name}</a><br>
		${kidPost.text} <br>
		${kidPost.time} <br>
		
		#{if kidPost.imageBlob.type()} <img src="@{RequestUtils.renderPostImage(kidPost.id)}"/> <br> #{/if}
		
		<div>
			#{list kidPost.comments, as:'comment'}
				<a href="@{KidViewProfile.page(comment.kid.id)}">${comment.kid.name}</a><br>
				${comment.kid.name}<br>
				${comment.text}<br>
				${comment.time}<br><br>
			#{/list}
			
			#{form @newComment(kidPost.id)}
			        <p>
			            <input type="text" name="commentText" size="16">
			        </p>			    
			    	<input type="submit" value="Comment"/>  
			    
			#{/form}
			
		</div>
	</div>
#{/list}