#{extends 'main.html'/}

#{if kid}        
<div id="search_div">
	#{form @KidSearchResults.search()}
        <p>
            <input type="text" name="searchString" size="16" #{if searchString} value="${searchString}" #{/if}> 
            <input type="submit" class="btn" value="Search">
        </p>
#{/form}

<a href="@{KidLogin.logout()}">Kid Logout</a>
#{/if}
#{else}
<a href="@{ParentHome.page()}">To Parent Home</a>
#{/else}

</div>

<a href="@{KidHome.page()}">Home</a>
<a href="@{KidMyPosts.page()}">My Posts</a>
<a href="@{KidDraw.page()}">Draw with a Friend</a>
<a href="@{KidViewProfile.page(kid.id)}">My Friends</a>
<br>
#{doLayout /}